* {
  box-sizing: border-box;
}

body {
  background-color: #ced3df;
  text-align: center;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

.list {
  width: 400px;
  margin: auto;
  background-color: #f1f0f7;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.header {
  padding: 8px 0;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%);
  border-radius: 20px 20px 0 0;
}

.title {
  color: white;
  font-size: 24px;
}

.textInput {
  position: relative;
  padding: 8px;
}

.textInput__input {
  display: block;
  padding-right: 24px;
  width: 95%;
  height: 32px;
  outline: none;
  border: none;
  border-radius: 4px;
  
}

.textInput__btn {
  position: absolute;
  right: 4px;
  top: 5px;
  width: 38px;
  height: 38px;
  font-size: 20px;
  background-color: #e0e3e7;
  border-radius: 50%;
}


.items {
  height: 550px;
  overflow-y: auto;
}

.item__row {
  width: 95%;
  background-color: white;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
}

.btns {
  display: flex;
  align-items: center;
}

.btn__divider {
  margin: 5px;
  height: 80%;
  width: 2px;
  background-color: darkgrey;
}

.item__delete {
  font-size: 16px;
  transition: all 300ms ease;
}

.item__delete:hover {
  transform: scale(1.15);
  color: red;
}

.item__check {
  font-size: 18px;
  transition: all 300ms ease;
}

.item__check:hover {
  transform: scale(1.15);
  color: green;
}

.line-through {
  text-decoration: line-through;
}

.all-delete {
  padding: 18px;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%);
  border-radius: 0 0 20px 20px;
}

@keyframes shakeIt{
  0%, 50%{
    transform: rotate(0deg);
  }
  5%, 15%, 25%, 35%, 45% {
    transform: rotate(2deg);
  }
  10%, 20%, 30%, 40% {
    transform: rotate(-2deg);
  }
}

.all-delete__button {
  background-color: #f79698;
  width: 140px;
  height: 32px;
  border-radius: 20px;
}

.all-delete__button:hover {
  animation-name: shakeIt;
  animation-duration: 3000ms;
}

.all-delete__title {
  font-size: 16px;
  color: white;
}